// base color
$red:#FF0502;
$orange:#FF712F;
$purple: #9C27B0;
$blue: #00B0FF;
$gray: #4A4A4A;
$gray-light: #FDFDFD;
$lime: #CDDC39;

$main: $red;
// font
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

$navbarHeight: 65px;

// :export {
//   sideBar: $red;
// }