// base color
$red:#FF0502;
$orange:#FF712F;
$purple: #9C27B0;
$blue: #00B0FF;
$gray: #4A4A4A;
$lime: #CDDC39;

// font
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

// :export {
//   sideBar: $red;
// }